/* 全体のリセット */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 背景と基本フォントサイズ */
body {
    background-color: #FFFFFF;
    font-size: 100%;
}

.MenuIcon {
    display: none;
    cursor: pointer;
    color: White;
}

/* ヘッダー */
.TopHeader {
    position: fixed;
    display: flex;
    align-items: center;
    padding: 0.5em 2%;
    background-color: #b49458;
    width: 100%;
}

/* ヘッダー内のテキスト */
.TopText {
    font-size: 1rem;
    color: white;
    font-family: Georgia;
    margin-left: 2em;
    margin-right: 28em;
}


.menu {
    display: flex;
}

/* リンク */
.menu a {
    display: flex;
    color: white;
    font-family: Georgia;
    text-decoration: none;
    font-size: 0.9rem;
    margin: 0 1.5em;
}

.TopTitle {
    opacity: 0;
    transition: opacity 4s ease;
    font-size: 5rem;
    font-family: Academy Engraved LET;
    color: #b49458;
}

.TopTitle.visible {
    opacity: 1;
}

.TopInner1 {
    padding-top: 2em;
    margin-left: 1.8em;
}

.TopInner2 {
    margin-top: -0.1em;
    margin-left: 7.4em;
}

.TopInner3 {
    margin-left: 3.4em;
}

.TopTitle hr {
    width: 7em;
    height: 3px;
    border: none;
    background-color: #b49458;
    margin-top: 0.3em;
    margin-left: 0.5em;
}

.TopInner4_flex {
    display: flex;
}

.TopInner4 {
    margin-left: 0.2em;
}

.ItemTop {
    font-family: Georgia;
    color: #b49458;
    display: flex;
    margin-top: 13em;
}

.ItemTop hr {
    width: 3em;
    height: 2px;
    border: none;
    background-color: #b49458;
    margin-top: 4em;
}

.ItemBig {
    font-size: 5em;
    margin-left: 1.2em;
    margin-right: 1em;
}

.ItemSub {
    margin: 3.3em 1em;
}

.AboutInner {
    display: flex;
    color: #E8D758;
}

.AboutInner p {
    font-size: 1.1em;
}


.AboutInner img {
    width: 13em;
    height: 20em;
    margin-left: 5.5em;
}

.AboutInnerText {
    margin-top: 1.5em;
    margin-left: 5em;
}

.InnerText {
    margin-left: 7em;
}

.AboutLastText {
    margin-top: 1em;
}

.Skills {
    background-color: #b49458;
}

/* メディアクエリ */
@media (max-width: 390px) {
    body {
        font-size: 16px;
    }

    .MenuIcon {
        display: block;
    }

    .TopHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em;
    }

    .TopText {
        margin-right: 0;
    }

    /* メニューを縦並びに */
    .menu {
        /* 初期状態は非表示 */
        flex-direction: column;
        /* 縦並びに変更 */
        align-items: flex-start;
        background-color: #b49458;
        /* メニュー背景色を設定 */
        padding: 0.1em 2em;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.8s ease-out;
    }

    .menu a {
        font-size: 1em;
        color: white;
        margin: 0.5em 0;
        /* 各リンクに余白を設定 */
        text-align: left;
    }

    /* メニューが表示されるアニメーション効果 */
    .menu.open {
        display: flex;
        max-height: 200px;
    }

    .TopTitle {
        font-size: 2.5em;
        margin-left: -1.7em;
        padding-top: 5em;
    }

    .TopTitle hr {
        width: 5em;
    }

    .ItemTop {
        margin-top: 12em;
    }

    .ItemBig {
        font-size: 3em;
        margin-left: 0.2em;
    }

    .ItemSub {
        margin-top: 2em;
        margin-right: 2.4em;
    }


    .ItemTop hr {
        margin-top: 2.7em;
        margin-left: -2em;
    }

    .AboutInner {
        display: block;
    }

    .AboutInner img {
        width: 13em;
        height: 17em;
        margin-left: 2em;
    }

    .AboutInnerText {
        font-size: 0.9em;
        margin-top: 0.8em;
        margin-left: 2em;
    }

    .InnerText {
        margin-left: 5em;
    }
}