* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 背景と基本フォントサイズ */
body {
    background-color: beige;
    font-size: 100%;
}

.BackButton {
    display: flex;
    position: fixed;
    background-color: #b49458;
    width: 100%;
    padding: 0.5em 2%;
    z-index: 1;

}

.Back {
    font-size: 0.8em;
    cursor: pointer;
}

.BackButton a {
    text-decoration: none;
    color: #FFFFFF;
}

.TopTitle {
    font-size: 4rem;
    font-family: "Dancing Script", serif;
    padding: 1.3em 1em;
    color: #b49458;
}

.animationImg {
    display: flex;
}

.animationImg img {
    width: 40%;
    height: 10%;
    margin: 0em 5em;
    margin-right: 0em;
}

.animationImg2 {
    display: flex;
}

.animationImg2 img {
    width: 40%;
    height: 10%;
    margin: 3em 5em;
    margin-right: 0em;
}

.animationImg3 {
    display: block;
}

.animationImg3 img {
    width: 40%;
    height: 100%;
    margin: 0em 5em;
}



/* スマホ用メディアクエリ */
@media screen and (max-width: 768px) {
    body {
        font-size: 16px;
    }

    .BackButton {
        height: 2.8em;
    }

    .Back {
        font-size: 16px;
    }

    .TopTitle {
        font-size: 2.5rem;
        padding: 1.7em 0.5em;
    }

    .animationImg {
        display: block;
    }

    .animationImg img {
        width: 100%;
        height: 100%;
        margin: 2em 0em;
    }

    .animationImg2 {
        display: block;
    }

    .animationImg2 img {
        width: 100%;
        height: 100%;
        margin: 2em 0em;
    }

    .animationImg3 {
        display: block;
    }

    .animationImg3 img {
        width: 100%;
        height: 100%;
        margin: 2em 0em;
    }



}

/* タブレット(縦向き)用メディアクエリ */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .Back {
        font-size: 1em;
    }

    .TopTitle {
        padding-top: 1em;
        padding-left: 0.5em;
    }

    .animationImg img {
        margin: 2em 2em;
        margin-top: -2em;
        margin-left: 3em;
        margin-right: 1em;
    }

    .animationImg2 img {
        margin: 2em 2em;
        margin-left: 3em;
        margin-right: 1em;
    }

    .animationImg3 img {
        margin: 2em 2em;
        margin-left: 3em;
        margin-right: 1em;
    }
}